<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="DATABASE_URL" value="Data Source=face_attendance.db;Version=3;" />
    <add key="DatabaseName" value="face_attendance.db" />
    <add key="ModelsDirectory" value="models" />
  </appSettings>
  <connectionStrings>
    <add name="SqliteAdmin" connectionString="Data Source=face_attendance.db;Version=3;" />
  </connectionStrings>
</configuration>