<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="DATABASE_URL" value="postgresql://postgres:Minhkhoi2204@localhost:5432/face_recognition_winforms" />
    <add key="PostgresDatabaseName" value="face_recognition_winforms" />
    <add key="ModelsDirectory" value="models" />
  </appSettings>
  <connectionStrings>
    <add name="PostgresAdmin" connectionString="Host=localhost;Port=5432;Database=postgres;Username=postgres;Password=Minhkhoi2204;Pooling=true;" />
  </connectionStrings>
</configuration>
